<footer class="row">

  <div class="left-footer">
    <!--    <img calss="footer-img" src="..\assets\img\images.jpg" alt="">-->
    <ul class="footer-info">
      <li>5th flora, 700/D kings road, green</li>
      <li>lane New York-1782</li>
      <li>+10 367 826 2567</li>
      <li>contact@carpenter.com</li>
    </ul>

  </div>
  <div class="right-footer">
    <h3 class="footer-tittle">Popular destination</h3>
    <ul class="links">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/loginUsers']">Login</a></li>
      <li><a [routerLink]="['/Courses']">Course</a></li>
      <li><a [routerLink]="['/loginUsers']">About</a></li>
      <li><a [routerLink]="['/loginUsers']">Profile</a></li>

    </ul>
  </div>
</footer>
