<footer class="row">

  <div class="left-footer">
<!--    <img calss="footer-img" src="..\assets\img\images.jpg" alt="">-->
    <ul class="footer-info">
      <li>5th flora, 700/D kings road, green</li>
      <li>lane New York-1782</li>
      <li>+10 367 826 2567</li>
      <li>contact@carpenter.com</li>
    </ul>

  </div>
  <div class="right-footer">
    <h3 class="footer-tittle">Popular destination</h3>
    <ul class="links">
      <li><a href="#">test</a></li>
      <li><a href="#">It</a></li>
      <li><a href="#">It</a></li>
      <li><a href="#">Ft</a></li>
      <li><a href="#">At</a></li>
      <li><a href="#">St</a></li>
      <li><a href="#">Cat</a></li>
      <li><a href="#">Ent</a></li>
    </ul>
  </div>
</footer>
