mat-tab{
  width: 100px;
  height: 200px;
}
.matcards{
  margin: 20px 10px;
  width: 30%;
  height: 30%;
  justify-content: center;
  align-items: center;
}
mat-card{
  display: flex;
  justify-content: center;
  align-items: center;

  /*height: 100px;*/
}
.course-action{
  margin: 10px 10px;
  text-align: center;

}
.course-action button{
  margin: 10px 10px;
}
 mat-card img{
   object-fit: cover;
   width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
   height: 80%;
 }
